
/*body{
	background-color: #e67e22;
}*/
/*@font-face{
	font-family: "School";
	src:url("Font/letters.txt");
}
.carré{
	font-family:School;
	font-style:italic;

}

.ingredients ul li a {
	text-decoration: none;
}
.ingredients ul li a:visited{
	color: black;
}

.ingredients ul li a:hover{
	color:blue;
}
.carré{
	font-size:25px;
	text-transform: lowercase;
	font-weight:bold;
}*/

/*.div1{
	width: 250px;
	height:100px;
	background-color: green;
	margin-bottom: 10px;
}

.div2{
	width: 300px;
	height: 100px;
	background-color: red;
}*/
/*img{
	width:10%;
	float: right;
}
.jeux-contenu{
	clear:both;
}*/
/*.text{
	width: 80px;
	height:50px;
	background-color: red;
	overflow: scroll;
}*/

/*.btn{
	width:250px;
	height:100px;
	background-color: aqua;
	transition-property: height;
	transition-delay: 5s;
	transition-duration: 7s;
	transition-timing-function: ease-in-out;
}

.btn:hover{
	height:250px;
}*/
/*.image{
	background-image: url('hol.png');
	width: 150px;
	height:200px;
	transition: all 2s ease-in-out 1s;
}

.image:hover{
	background-image: url('hol.png');
	}*/

	/*.carre{
		width:100px;
		height:200px;
		background-color: red;
		animation-name: carre;
		animation-delay: 3s;
		animation-iteration-count: 3;
	}
	@keyframes carre{
		0%{
			background-color: red;
		}

		100%{
			background-color: blue;

		}*/

		.dicapriot{
			background-image: url("Dicaporiot/1.jpg");
			width:367px;
			height: 600px;
			animation-name: dicapriot;
			animation-duration: 25s;
			animation-delay: 3s;
			animation-iteration-count: 3;

		}
		@keyframes dicapriot{
			0%{
				background-image: url("Dicaporiot/1.jpg")
			}
			16%{
				background-image: url("Dicaporiot/2.png");
			}
			32%{
				background-image: url("Dicaporiot/3.png");
			}
			64%{
				background-image:url("Dicaporiot/4.png") ;

			}
			80%{
				background-image: url("Dicaporiot/5.png");
			}
			100%{
				background-image: url("Dicaporiot/6.png");
			}
		}
	}